@page "/"

<PageTitle>Mark Entry System 2.0</PageTitle>

<h1>Mark Entry System 2.0</h1>

<input type="text" @bind="name" placeholder="Student name" aria-label="student name"><br />
<input type="text" @bind="mark" placeholder="Student mark" aria-label="student mark"><br />
<button type="button" class="btn btn-primary" @onclick="submit">Submit</button>
<p>Average Mark: @avgMark</p>
<p>@error</p>

@code {
    private string? name { get; set; }
    private string? mark { get; set; }
    private string? error { get; set; }
    private int i = 1;
    private float avgMark = 0;

    private void submit()
    {
        error = null;
        if (name == null || name == "")
        {
            error = "Error! Student Name is null or empty";
            return;
        }
        if (mark == null || mark == "")
        {
            error = "Error! Student Mark is null or empty";
            return;
        }
        avgMark = (avgMark + Int32.Parse(mark ?? "0")) / i;
        name = null;
        mark = null;
        i++;
    }
}
