@page "/"

<PageTitle>Delivery Website</PageTitle>

<div class="greeting">
    <h1>Delivery Website</h1>
    <p>
        Hello, we are a delivery company based in Bundaburg Queensland. <br />
    </p>
</div>

<div class="contactus">
    <h2>Contact Us</h2>
    <p>
        Email: deliveryemail@address.com <br />
        Phone: 0123 456 789
    </p>
</div>

<style>
    .contactus {
        margin-top: 10rem;
    }
</style>
