<div class="card">
    <img src=@truck!.image class="card-img-top" alt=@truck.title>
    <div class="card-body">
        <h5 class="card-title">@truck.title</h5>
        <p class="card-text">@truck.details</p>
    </div>
</div>

@code {
    [Parameter]
    public Truck? truck { get; set; }
}
