@page "/details"

<PageTitle>Delivery Website - Vehicle Details</PageTitle>

<h1>Vehicle Details</h1>

<div class="flexbox">
    <div class="card">
        <img src="images/big_truck.webp" class="card-img-top" alt="Big Truck">
        <div class="card-body">
            <h5 class="card-title">Big Truck Name</h5>
            <p class="card-text">Big Truck Details</p>
        </div>
    </div>
    <div class="card">
        <img src="images/medium_truck.jpg" class="card-img-top" alt="Medium Truck">
        <div class="card-body">
            <h5 class="card-title">Medium Truck Name</h5>
            <p class="card-text">Medium Truck Details</p>
        </div>
    </div>
    <div class="card">
        <img src="images/small_truck.webp" class="card-img-top" alt="small Truck">
        <div class="card-body">
            <h5 class="card-title">Small Truck Name</h5>
            <p class="card-text">Small Truck Details</p>
        </div>
    </div>
</div>