@page "/details"

<PageTitle>Delivery Website - Vehicle Details</PageTitle>

<h1>Vehicle Details</h1>

<div class="flexbox">
    @foreach (Truck truck in data)
    {
        <Vehicle truck=@truck />
    }
</div>

@code {
    Truck[] data = TruckData.getData();
}
