@page "/artifacts"
@inject GenshinImpactWiki.Data.Services.ArtifactService data
@inject HttpClient Http

<PageTitle>Artifacts</PageTitle>

<h1>Artifact List</h1>

@if (data.Loading)
{
    <p>LOADING. . .</p>
}
@if (data.Error)
{
    <p>ERROR!</p>
    <p>@data.Errormsg</p>
}
@if (!data.Loading && !data.Error)
{
    @foreach (var artifact in artifacts!)
    {
        <ArtifactListItem artifact=@artifact />
    }
}

@code {
    private Artifact[]? artifacts;
    protected override async Task OnInitializedAsync()
    {
        artifacts = await data.getArtifacts(Http);
        await base.OnInitializedAsync();
    }
}
