@page "/artifacts"
@inject GenshinImpactWiki.Data.Services.ArtifactService data
@inject HttpClient Http

<PageTitle>Artifacts</PageTitle>

<h1>Artifact List</h1>

@if (data.loading)
{
    <p>LOADING. . .</p>
}
@if (data.error)
{
    <p>ERROR!</p>
    <p>@data.errormsg</p>
}
@if (!data.loading && !data.error)
{
    @foreach (var artifact in artifacts!)
    {
        <ArtifactListItem artifact=@artifact />
    }
}

@code {
    private Artifact[]? artifacts;
    protected override async Task OnInitializedAsync()
    {
        artifacts = await data.getArtifacts(Http);
        await base.OnInitializedAsync();
    }
}
