@page "/artifacts"
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Artifacts</PageTitle>

<h1>Artifact List</h1>

@if (loading)
{
    <p>LOADING. . .</p>
}
@if (error)
{
    <p>ERROR!</p>
    <p>@errormsg</p>
}
@if (!loading && !error)
{
    @foreach (var artifact in artifacts!)
    {
        <ArtifactListItem artifact=@artifact />
    }
}

@code {
    private Artifact[]? artifacts;
    private bool loading = false;
    private bool error = false;
    private string errormsg = "";
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        error = false;
        try
        {
            var response = await Http.GetStringAsync("https://api.genshin.dev/artifacts/all");
            artifacts = JsonSerializer.Deserialize<Artifact[]>(response);
        }
        catch (Exception e)
        {
            errormsg = "" + e;
            error = true;
        }
        finally
        {
            loading = false;
        }
        await base.OnInitializedAsync();
    }
}
