@page "/characters"
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Characters</PageTitle>

<h1>Character List</h1>

@if (loading)
{
    <p>LOADING. . .</p>
}
@if (error)
{
    <p>ERROR!</p>
    <p>@errormsg</p>
}
@if (!loading && !error)
{
    <div class='flexbox'>
    @foreach (var character in characters!)
        {
            <CharacterListItem character=@character />
        }
    </div>
}

@code {
    private Character[]? characters;
    private bool loading = true;
    private bool error = false;
    private string errormsg = "";
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        error = false;
        try
        {
            var response = await Http.GetStringAsync("https://api.genshin.dev/characters/all");
            characters = JsonSerializer.Deserialize<Character[]>(response);
        }
        catch (Exception e)
        {
            errormsg = "" + e;
            error = true;
        }
        finally
        {
            loading = false;
        }
        await base.OnInitializedAsync();
    }
}
