@page "/characters/{input}"
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Character -</PageTitle>

@if (loading)
{
    <p>LOADING. . .</p>
}
@if (error)
{
    <p>ERROR!</p>
    <p>@errormsg</p>
}
@if (!loading && !error)
{
    <PageTitle>Character - @character!.name</PageTitle>
    <h1>@character!.name</h1>

    <CharacterDetailsCard character=@character />
    <CharacterDetailsSkills character=@character />
}

@code {
    [Parameter]
    public string? input { get; set; }
    private Character? character;
    private bool loading = true;
    private bool error = false;
    private string errormsg = "";

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        error = false;
        try
        {
            var response = await Http.GetStringAsync("https://api.genshin.dev/characters/" + input);
            character = JsonSerializer.Deserialize<Character>(response);
        }
        catch (Exception e)
        {
            errormsg = "" + e;
            error = true;
        }
        finally
        {
            loading = false;
        }
        await base.OnInitializedAsync();
    }
}
