@page "/characters/{input}"
@inject GenshinImpactWiki.Data.Services.CharacterService data
@inject HttpClient Http

<PageTitle>Character -</PageTitle>

@if (data.Loading)
{
    <p>LOADING. . .</p>
}
@if (data.Error)
{
    <p>ERROR!</p>
    <p>@data.Errormsg</p>
}
@if (!data.Loading && !data.Error)
{
    <PageTitle>Character - @character!.Name</PageTitle>
    <h1>@character!.Name</h1>

    <CharacterDetailsCard character=@character />
    <CharacterDetailsSkills character=@character />
}

@code {
    [Parameter]
    public string? input { get; set; }
    private Character? character;

    protected override async Task OnInitializedAsync()
    {
        character = await data.getCharacterDetails(Http, input!);
        await base.OnInitializedAsync();
    }
}
