@page "/characters"
@inject GenshinImpactWiki.Data.Services.CharacterService data
@inject HttpClient Http

<PageTitle>Characters</PageTitle>

<h1>Character List</h1>

@if (data.Loading)
{
    <p>LOADING. . .</p>
}
@if (data.Error)
{
    <p>ERROR!</p>
    <p>@data.Errormsg</p>
}
@if (!data.Loading && !data.Error)
{
    <div class='flexbox'>
    @foreach (var character in characters!)
        {
            <CharacterListItem character=@character />
        }
    </div>
}

@code {
    private Character[]? characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await data.getCharacters(Http);
        await base.OnInitializedAsync();
    }
}
