<a href="/characters/@character!.CureName(character.Name, character.Vision)">
    <div class="card">
        <img src="https://api.genshin.dev/characters/@character.CureName(character.Name, character.Vision)/@character.CheckTraveler(character.Name)"
            class="card-img-top" alt="character card">
        <div class="card-body">
            <h5 class="card-title">@character.ShortenName(character.Name!, character.Vision!)</h5>
        </div>
    </div>
</a>

@code {
    [Parameter]
    public Character? character { get; set; }
}
