@page "/characters/{input}"
@inject GenshinImpactWiki.Data.Services.CharacterService data
@inject HttpClient Http

<PageTitle>Character -</PageTitle>

@if (data.loading)
{
    <p>LOADING. . .</p>
}
@if (data.error)
{
    <p>ERROR!</p>
    <p>@data.errormsg</p>
}
@if (!data.loading && !data.error)
{
    <PageTitle>Character - @character!.name</PageTitle>
    <h1>@character!.name</h1>

    <CharacterDetailsCard character=@character />
    <CharacterDetailsSkills character=@character />
}

@code {
    [Parameter]
    public string? input { get; set; }
    private Character? character;

    protected override async Task OnInitializedAsync()
    {
        character = await data.getCharacterDetails(Http, input!);
        await base.OnInitializedAsync();
    }
}
