@page "/weapons"
@inject GenshinImpactWiki.Data.Services.WeaponService data
@inject HttpClient Http

<PageTitle>Weapons</PageTitle>

<h1>Weapon List</h1>

@if (data.Loading)
{
    <p>LOADING. . .</p>
}
@if (data.Error)
{
    <p>ERROR!</p>
    <p>@data.Errormsg</p>
}
@if (!data.Loading && !data.Error)
{
    @foreach (Weapon weapon in weapons!)
    {
        <WeaponListItem weapon=@weapon />
    }
}

@code {
    private Weapon[]? weapons;
    protected override async Task OnInitializedAsync()
    {
        weapons = await data.getWeapons(Http);
        await base.OnInitializedAsync();
    }
}
