@page "/weapons"
@inject GenshinImpactWiki.Data.Services.WeaponService data
@inject HttpClient Http

<PageTitle>Characters</PageTitle>

<h1>Character List</h1>

@if (data.loading)
{
    <p>LOADING. . .</p>
}
@if (data.error)
{
    <p>ERROR!</p>
    <p>@data.errormsg</p>
}
@if (!data.loading && !data.error)
{
    @foreach (Weapon weapon in weapons!)
    {
        <WeaponListItem weapon=@weapon />
    }
}

@code {
    private Weapon[]? weapons;
    protected override async Task OnInitializedAsync()
    {
        weapons = await data.getWeapons(Http);
        await base.OnInitializedAsync();
    }
}
