@page "/"

<PageTitle>MarksGUI</PageTitle>

<h1>Marks GUI</h1>

<input @bind="InputName" type="text" placeholder="Name">
<input @bind="inputMark" type="text" placeholder="Mark">
<br />
<button class="btn-primary" @onclick="saveUser">Submit</button>
<ul>
    @foreach (Mark student in students)
    {
        <li>Name: @student.StudentName Grade: @student.GetGrade()</li>
    }
</ul>

@code {
    private List<Mark> students = new List<Mark>();
    private string? InputName { get; set; }
    private string? InputMark { get; set; }

    private void saveUser()
    {
        Mark mark = new Mark();
        mark.StudentName = InputName;
        mark.StudentMark = Int32.Parse(InputMark ?? "0");
        students.Add(mark);
        InputName = "";
        inputMark = "";
    }
}
