@page "/"

<PageTitle>Index</PageTitle>

<div class="flexbox">
    <h1>Company Name</h1>
    <p>Company tag line</p>
</div>

<div class="container">
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
    <div>this is a box for an important widget</div>
</div>
